
*.pyc
CNC_service/factory_manager/__pycache__/views.cpython-37.pyc
CNC_service/factory_manager/__pycache__/views.cpython-37.pyc
CNC_service/factory_manager/__pycache__/serializers.cpython-37.pyc
*.pyc
