.table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.head {
    background-color: hsl(0, 0%, 80%);
    color: red;
    padding: 10px;
    text-align: left;
}

.react-bs-table-bordered {
    border: 2px solid #ddd;
    border-radius: 10px;
  }

.react-bs-table .table-bordered > thead > tr > th,
.react-bs-table .table-bordered > thead > tr > td {
    border-bottom-width: 5px;
  }
.react-bs-table .table-bordered > tbody > tr > th,
  .react-bs-table .table-bordered > tbody > tr > td {
    border-top-width: 5px;
  }
  
  .react-bs-table .table-bordered > tfoot > tr > th,
  .react-bs-table .table-bordered > tfoot > tr > td {
    border-bottom-width: 3px;
  }